.navbar{
    display: flex;
    justify-content: space-between;
    background-color: #222831;
    padding: 1em;
}

.list{
    display: flex;
    list-style: none;
    align-items: center;
}

.item{
    margin: 0 1em 0 0;
}

.item:hover{
    transform: scale(1.1);
}

.item a {
    color: #EEEEEE;
    text-decoration: none;
    transition: 0.25s;
    font-size: larger;
}

.item a:hover{
    color: #ffbb33;
}

.navbar img{
    width: 3em;
}

.navbar img:hover{
    transform: scale(1.1);
}
