@import url('https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Ubuntu Sans Mono", monospace;
}

html, body, #root{
    background-color: #DDD ;
    height: 100%;
}
